@import url("https://fonts.googleapis.com/css?family=Lato");
html body {
  font-family: 'Lato', sans-serif;
  text-align: center;
}
html body h1 {
  margin-top: 25vh;
}
html body p {
  margin: 40px 20% 50px 20%;
}
html body a {
  background: #3c40c6;
  color: #fff;
  padding: 15px 20px;
  border-radius: 50px;
  transition: background 0.5s;
  text-decoration: none;
  margin: 40px;
}
html body a:hover {
  background: #575fcf;
}
